<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p class="navbar-text navbar-left">Ielps</p>
    <p class="navbar-text navbar-right"><%= link_to 'Restaurants', restaurants_path, class: 'navbar-link' %>
    <p class="navbar-text navbar-right"><%= link_to 'Add Restaurant', new_restaurant_path, class: 'navbar-link' %>
  </div>
</nav>
